html {
    scroll-snap-type: y mandatory;
}

section {
    block-size: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    display: grid;
    place-items: center;
}